images/*.iso
*.iso
build.log
/tmp/
build-env/
build-output.log
plymouth-theme/assets/
build-output*.log
2f0c7e0c9e63579eab6ee7fe7e0a0a1851c69a7aed801a89e220ee57584c8f54.zip*
codecrafters-shell-python
